@{
    ViewData["Title"] = "Get Help";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Get Help</h1>
    <p class="lead text-muted">
        Need help? We’ll help you find the answers you need.
    </p>
    <img src="https://uscensusbureau.github.io/census-small-business/img/stock/advice.jpg" />
    <div class="container" style="max-width: 40rem">
        <p class="lead text-muted">
            <b>Customer Contact Center</b><br />
            Call or email our Customer Contact Center for further assistance.<br />
            Toll-free: xxx-xxx-xxxx<br />
            Email: xxx@xxx.com<br />
        </p>
    </div>
</div>

